[submodule "start/nerdtree-git-plugin"]
    path = start/nerdtree-git-plugin
    url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule "start/nerdtree"]
    path = start/nerdtree
    url = https://github.com/scrooloose/nerdtree
[submodule "start/vim-gitgutter"]
    path = start/vim-gitgutter
    url = https://github.com/airblade/vim-gitgutter
[submodule "start/a.vim"]
    path = start/a.vim
    url = https://github.com/vim-scripts/a.vim
[submodule "start/tabular"]
    path = start/tabular
    url = https://github.com/godlygeek/tabular
[submodule "opt/badwolf"]
    path = opt/badwolf
    url = https://github.com/sjl/badwolf
[submodule "start/vim-airline"]
    path = start/vim-airline
    url = https://github.com/vim-airline/vim-airline
[submodule "start/vim-unimpaired"]
    path = start/vim-unimpaired
    url = https://github.com/tpope/vim-unimpaired
[submodule "start/vim-polyglot"]
    path = start/vim-polyglot
    url = https://github.com/sheerun/vim-polyglot
[submodule "opt/vim-quantum"]
	path = opt/vim-quantum
	url = https://github.com/tyrannicaltoucan/vim-quantum.git
[submodule "start/vim-dg"]
	path = start/vim-dg
	url = https://github.com/rubik/vim-dg
